body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

div {
    background-color: burlywood;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    text-align: center;
}

.content {
    box-sizing: content-box;
}
.border {
    box-sizing: border-box;
}